{% extends 'base.html' %}
{% load static %}

{% block page_content %}

    <div class="profile">

        <!-- Start Profile Personal Data Section -->
        <div class="profile-data">
            <div class="profile_img">
                <div class="image">

                    <!-- Profile Image -->
                    {% if user.profile_picture %}
                        <img src="{{ user.profile_picture }}" alt="img8">
                    {% else %}
                        <img src="{% static 'images/person.png' %}" alt="img8">
                    {% endif %}
                </div>
            </div>
            <div class="personal">
                <div class="edit">
                    <!-- User Username -->
                    <p>{{ user.username }}</p>

                    <!-- IF the viewer is the owner of the profile -->
                    {% if is_owner %}
                        <!-- Link to Edit Profile Page -->
                        <a href="{% url 'user edit' pk=user.pk %}">
                            <img class="edit-img" src="{% static 'images/edit-pen-icon-6.jpg' %}" alt="edit button">
                        </a>

                        <!-- Link to Delete Profile Page -->
                        <a href="{% url 'user delete' pk=user.pk %}">
                            <img class="bin-img" src="{% static 'images/icon-remove-22.jpg' %}" alt="bin button">
                        </a>
                        <!-- End IF the viewer is the owner of the profile -->
                    {% endif %}

                </div>
                <div class="data">

                    <!-- Total Number of Photos by the User -->
                    <span>{{ user_all_photos.count }}</span>
                    <p>photos</p>

                    <!-- Total Number of Pets owned by the User -->
                    <span>{{ user_all_pets.count }}</span>
                    <p>pets</p>

                    <!-- Total Number of Likes for the User -->
                    <span>{{ user_all_likes }}</span>
                    <p>likes</p>
                </div>
                <!-- User First and Last Name IF Added -->
                {% if user.first_name and user.last_name %}
                    <h3 class="names">{{ user.first_name }} {{ user.last_name }}</h3>
                {% endif %}
                <!-- User Email Address -->
                <p class="email">{{ user.email }}</p>

                <!-- User Gender IF Added -->
                {% if user.gender %}
                    <p class="gender">{{ user.gender|lower|capfirst }}</p>
                {% endif %}
            </div>
        </div>
        <!-- End Profile Personal Data Section -->

        <!-- Start Pets Data Section -->
        <div class="pets">
            <div class="statuses">
                {% for pet in user_all_pets %}

                    <a href="{% url 'pet details' username=user.username pet_name=pet.slug %}">
                        <div class="head-pet">
                            <div class="status">
                                <div class="image">
                                    <!-- Pet Image -->
                                    <img src="{{ pet.personal_pet_photo }}"
                                         alt="pet img">
                                </div>
                            </div>
                            <!-- Pet Name -->
                            <p>{{ pet.name }}</p>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <!-- End Pets Data Section -->

        <!-- Start Last Uploaded Photos Section -->
        <div class="pet-photos">
            {% for photo in user_all_photos %}
                <a href="{% url 'photo details' pk=photo.pk %}">
                    <!-- Pet Photo -->
                    <img src="{{ photo.photo_picture.url }}"
                         alt="pet img">
                </a>
            {% endfor %}
        </div>
        <!-- End Last Uploaded Photos Section -->

    </div>

{% endblock %}